@model IEnumerable<PossumProject.Inventory>
@{
    ViewBag.Title = "Provalus Supply Management";
}


<div class="jumbotron">
    <h1>Provalus Supply Management</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

